@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background: #3750b3;
  color: #fff;
}
a {
  color: inherit;
  font-size: inherit;
}

p {
  max-width: 60ch;
  line-height: 1.2;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.alert {
  margin: 1rem 0;
  visibility: hidden;
  background: red;
  color: #fff;
  transition: dvisi 0.3s ease;
}
.alert.show {
  visibility: visible;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input {
  height: 3rem;
  text-align: center;
  outline: none;
  margin: 0.5rem 0;
  font-size: 1.5em;
}
form .submit {
  border: 2px solid #fff;
  width: 8rem;
  cursor: pointer;
  background: #3750b3;
  color: #fff;
}

.food-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.food-container {
  width: 45rem;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  max-width: 100%;
}

.food-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.food-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

.food-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.food-right {
  padding: 0.5rem;
}
.food-instructions h3 {
  text-transform: uppercase;
  color: #111;
  margin: 0;
}
.food-instructions p {
  letter-spacing: 0.08rem;
  margin-top: 0.5rem;
}

hr {
  width: 50%;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  form input {
    font-size: 1.2em;
  }

  .food-container {
    flex-direction: column;
    height: 100%;
  }

  .food-img {
    width: 100%;
  }
  .food-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .food-instructions h3 {
    margin-top: 2rem;
  }
  .food-instructions p {
    max-width: 40ch;
  }
  hr {
    width: 80%;
  }
}
